<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Scraper</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <a href="https://www.agribusinessglobal.com/agrochemicals/" style="text-decoration: none; color: black;">
        <h1>Latest News: Agrochemicals - AgriBusiness Global</h1>
    </a>
    {% for article in articles %}
        <div class="news-article">
            <h2><a href="{{ url_for('article', url=article.link) }}">{{ article.title }}</a></h2>
        </div>
    {% endfor %}
</body>
</html>
